<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hello.hellospring.mapper.TestMapper">


    <select id="selectTest" resultType="hello.hellospring.dto.TestDTO">
        SELECT *
        FROM foo
    </select>

</mapper>

